doctype html
html
  head
    title mCoins
    link(rel="stylesheet", href="/public/base.css")
    link(rel="stylesheet", href="/public/coin.css")
    link(rel="stylesheet", href="/public/lib/auto-complete.css")
    script(src='/public/lib/tko4a9.js')
    script(src='/public/lib/auto-complete.js')
    script(src='/public/shared/utils.js')
    script(src='/public/base.js')
    script(src='/public/coinlist.js')
    script.
      (function () {
        window.onload = function ()
          { 
            init('#{userid}', #{selectedGroup});
          }
      }()); 
      
  body
    
    table
      td(id='tdCoinListId' )
        table
          td
            a(href='/' + username)
              img(src='/public/muidLogo.png')
          td 
            h1 Coins
        

        table(class='itemsBox')
          tr
            th
              span='Name'
            th
              span='Amount'
            th
              span='Initial USD'
            th
              span='Initial EUR'
            th
              span=''
            th 
              span='Date' 
            th 
              span='Rate'
            th 
              span='Current USD'
            th 
              span='Current EUR'
            th
              span=''
            th 
              span='Gains USD'  
            th 
              span='Gains EUR'
            th 
              span='Gains percent' 
            
            

          tbody(data-bind='foreach: filteredInvestmentItems' )
            tr(class='itemBox')
              td
                span(data-bind='text: name')
              td(class='tdAlignRight')  
                span(data-bind='text: getCoinAmountStr(amount)')
              td(class='tdAlignRight')
                span(data-bind='text: getCoinValueStr(valueinitial, "$")')
              td(class='tdAlignRight')
                span(data-bind='text: getCoinValueStr(valueinitialEUR, "€")')
              td(class='width40') 
                span=''
              td(class='width120px')
                span(data-bind='text: utils.getDateTimeStrFromMS(date)')
              td(class='tdAlignRight')
                span(data-bind='text: getCoinValueStr(rate,"$")')
              td(class='tdAlignRight')
                span(data-bind='text: getCoinValueStr(valuecurrent, "$")')
              td(class='tdAlignRight')
                span(data-bind='text: getCoinValueStr(convertToEur(valuecurrent), "€")')
              td(class='width50') 
                span=''
              td(class='tdAlignRight')
                span(data-bind='text: getCoinValueStr(gainsvalue, "$")')
              td(class='tdAlignRight')
                span(data-bind='text: getCoinValueStr(convertToEur(gainsvalue), "€")')
              td(class='tdAlignRight')
                span(data-bind='text: getCoinValueStr(gainspercent, "%")')
        select(data-bind="options: investmentGroups,optionsText: 'name', value:  investmentGroupSelected, event: {change: onGroupSelect}" size="5" multiple="false")
        img(src='/public/favicon.ico' data-bind='click: addInvestmentGroup')
              
                
                  
                  
 
          

              
            
 

    