doctype html
html
  head
    title mJournal
    link(rel="stylesheet", href="/public/base.css")
    link(rel="stylesheet", href="/public/todo.css")
    link(rel="stylesheet", href="/public/lib/auto-complete.css")
    link(rel="stylesheet", href="/public/lib/datepicker.css")
    link(rel="stylesheet", href="/public/lib/quill.snow.css")
    //link(rel="stylesheet", href="/public/lib/quill.core.css")
    script(src='/public/lib/tko4a9.js')
    script(src="/public/lib/datepicker.js")
    script(src='/public/lib/auto-complete.js')
    script(src='/public/shared/utils.js')
    script(src='/public/base.js')
    script(src='/public/journallist.js')
    script(src="/public/lib/quill.min.js")
    //script(src="/public/lib/quill.core.js")
    script.
      (function () {
        window.onload = function ()
          {
            init('#{userid}','#{username}');
          }
      }()); 
      
  body
    table
      td(class="tdAlignTop")
        a(href='/'+ username)
          img(src='/public/muidLogo.png')
      td(class="tdAlignTop")
        h1 Journal
      td(class="tdAlignTop tdAlignRight")
        
       
    table(id='tdTodoListId' class='width100')
      td(class='tdAlignTop')
        fieldset
          legend Enter content for the new jounal item here:
          div(class='standalone-container')
            div(id='bubble-container')
            input(id='inpSearch' type='button', value='Add journal item' data-bind='click: saveJournalItem')
        fieldset(id='fsSearch')
          legend Search
          div(data-bind='visible: showInp' class='searchBox')
            div(data-bind='foreach: searchTagItems' class='tagDiv')
              span(class='spanTag' data-bind='text: name')
              a(href='#' data-bind='click: $parent.removeSearchTag')
                img(src='/public/muidRemove.png') 
            input(id='inpAddTodoItem' type='text' name='q'  data-bind='value: addTodoItemName')
        table(class='itemsBox')            
          tbody(data-bind='foreach: filteredItems' )
            tr(class='itemBox' data-bind='visible: mainEntry, css: getTodoStatusColor(status, done, !mainEntry)')
              td()
                span(data-bind='visible: mainEntry, text: name')
              
     
             
            tr(class='itemBox' data-bind="")
                        

              td
                div(data-bind="visible: !isEdit")
                  span(data-bind='visible: !notehtml, text: getTodoNotes($data)'  class='whitespacepre')
                  span(data-bind='visible: notehtml , html: getTodoNotes($data)')
                div(class='standalone-container' )
                  div(data-bind='attr: { id: "bubble_" + idnote }')
                input(type='button' value='Save' data-bind= 'visible: showDetails, click: $parent.updateJournalItem')
            tr
              td(colspan=4 class='border-bottom-thin border-top-thin tdAlignRight')
                a(href='#' data-bind='visible: idintkb != -1, attr: { href: utils.getUrlForType(idkb, $parent.userName(), 2) }')
                  span(data-bind='text: utils.createIdStrForIdInt(idintkb, 2)')
                  br
                a(href='#')
                  span(data-bind='text: utils.createIdStrForIdInt(idinttodo, 0)')
                a(href='#' data-bind='visible: idinttask != -1, attr: { href: utils.getUrlForType(idtask, $parent.userName(), 4) }')
                  span(data-bind='text: utils.createIdStrForIdInt(idinttask, 4)')
            tr
              td(class='tdAlignRight' )
                input(id='inpCreateKBItem' type='button', value='Create knowledgebase item' data-bind='visible: showDetails, click: createKnowledgebaseItem' class='tdAlignRight')
                br
                input(id='inpCreateTodoItem' type='button', value='Create todo item' data-bind='visible: showDetails, click: createTodoItem' class='tdAlignRight')
                br
                input(id='inpCreateTaskItem' type='button', value='Create task item' data-bind='visible: showDetails, click: createTaskItem' class='tdAlignRight')
                br
                input(id='inpAddToTaskItem' type='button', value='Add to task item' data-bind='visible: showDetails, click: addToTaskItem' class='tdAlignRight')
                br
                form(method='post' enctype='multipart/form-data' data-bind='visible: showDetails, attr: { action: "/" + $parent.userName() + "/upload-file/"+idnote }')
                  input(type='file' name='newFile')
                  button(type='submit')
                br
                input(id='inpDeleteJournalItem' type='button', value='Delete item' data-bind='visible: showDetails, click: $parent.deleteItem' class='')
           
            tr(data-bind="click: $parent.toggle")
              
              td(colspan=4 class='border-bottom-thin border-top-thin')
                span(class='footer' data-bind='text: getCreatedModifiedStr(idusercreated, datecreated, idusermodified, datemodified)')
                
          
                  
 
        
       
           
                        
           
                        
                
      td(id='tdTagListId' class='tdAlignTop , tdAlignRight, width30')
        fieldset  
          legend Tags
          span how how
          table(class="width100")
            tbody(data-bind='foreach: []')
              tr
                td
                
                  a(href='#' data-bind='attr: { href: getTodoSearchUrl(id) }, text: name')
                  br
                td
                  a(href='#' data-bind='click: $parent.delTagItem') del
              
            
 

    