doctype html
html
  head
    title dIdeas
    link(rel="stylesheet", href="/public/base.css")
    link(rel="stylesheet", href="/public/task.css")
    script(src='/public/lib/tko4a9.js')
    script(src='/public/base.js')
    script(src='/public/taskedit.js')
    script.
      (function () {
        window.onload = function ()
          {
 
          }
      }()); 
      
  body()
    h1 noteView
    table
      td(id='myBody' class='tdAlignTop')
        
          table
            tr
              td
                label='Content'
              td
                span #{note}! 
