doctype html
html
  head
    title mTask - !{todoitem.name}
    link(rel="stylesheet", href="/public/base.css")
    link(rel="stylesheet", href="/public/task.css")
    link(rel="stylesheet", href="/public/lib/auto-complete.css")    
    link(rel="stylesheet", href="/public/lib/quill.snow.css")
    script(src='/public/lib/tko4a9.js')
    script(src='/public/lib/auto-complete.js')    
    script(src="/public/lib/quill.min.js")
    script(src='/public/shared/utils.js')
    script(src='/public/base.js')
    script(src='/public/taskedit.js')
    script.
      (function () {
        window.onload = function ()
          {
             init('#{user.id}','#{user.name}', '!{todoitem.id}');
          }
      }()); 
      
  body()

    div(id='myBody')
      
      table
        td(class="tdAlignTop")
          a(href='/'+ username)
            img(src='/public/muidLogo.png')
        td(class="tdAlignTop")
          h1 Task
        td(class="tdAlignTop tdAlignRight")
      fieldset
        table(class='width100')
          td( class='tdAlignTop with100')
            tr
              td
                label='Name'
              td(colspan='1' class='width100')
                input(id='idName' type='text' name='title' data-bind='value: name' class='width100')
              td(class='width100')
                span
                  isthis
              td
                span(data-bind='text: utils.createIdStrForIdInt(idint(), 4)')

              
            tr
              
              td(colspan='4')
                textarea(id='idNotes' cols="30" rows="10" data-bind='value: notes' class='width100')

  
                
            
            tr
              td
                label='TaskGroup'
              td
                input(id='idTaskGroup' type='text' name='q' data-bind='value: priority')
                
              td
                label='Status'
              td
                input(id='idPriority' type='text' name='title' data-bind='value: priority')
            tr
              td
                label='Priority'
              td
                input(id='idPriority' type='text' name='title' data-bind='value: priority')
              td
                label='Progress'
              td
                input(id='idProgess' type='text' name='title' data-bind='value: priority')                
                          
            tr
                td
                  label='Tags'
                
                td(colspan=2)
                  input(type='text' name='title' data-bind='value: ')
                  input(type='submit', value='Add tag' onclick=`addTagRelation()`)
                td
            tr
              td
                input(type='button' value='Save' onclick=`saveTodoItem()`)
                a(href='./delItem?id='+todoitem.id) del
              
                

                    

                  

      fieldset
        table
          tr
            td
              
                
                div(class='standalone-container')
                  div(id='bubble-container')
                  input(id='inpSearch' type='button', value='Add note' data-bind='click: addUpdateTaskNote')
    div
      fieldset
          table(id='notesBody' class='width100') 
            tbody(data-bind='foreach: noteItems' )
              tr
                td
                  span(data-bind='html: notehtml')
              tr
                td(class='tdAlignRight' )
                  input(id='inpDelNote' type='button', value='Remove note' data-bind='visible: true, click: $parent.delNote' class='tdAlignRight')
              tr
                td(colspan=4 class='border-bottom-thin border-top-thin')
                  span(class='footer' data-bind='text: getCreatedModifiedStr(idusercreated, datecreated, idusermodified, datemodified)')
                

