doctype html
html
  head
    title mTasks
    link(rel="stylesheet", href="/public/base.css")
    link(rel="stylesheet", href="/public/task.css")
    link(rel="stylesheet", href="/public/lib/auto-complete.css")
    link(rel="stylesheet", href="/public/lib/datepicker.css")
    link(rel="stylesheet", href="/public/lib/quill.snow.css")
    script(src='/public/lib/tko4a9.js')
    script(src="/public/lib/datepicker.js")
    script(src='/public/lib/auto-complete.js')
    script(src='/public/shared/utils.js')
    script(src='/public/base.js')
    script(src='/public/tasklist.js')
    script(src="/public/lib/quill.min.js")
    script.
      (function () {
        window.onload = function ()
          {
            init('#{userid}','#{username}');

          }
      }()); 
      
  body
    table
      td(class="tdAlignTop")
        a(href='/'+ username)
          img(src='/public/muidLogo.png')
      td(class="tdAlignTop")
        h1 Tasks
      td(class="tdAlignTop tdAlignRight")
        
       
    table(class='width100')
      td(id='tdTodoListId' class='tdAlignTop')
        
        fieldset(id='fsSearch')
          legend Search / add items
          div(data-bind='visible: showInp' class='searchBox')
            div(data-bind='foreach: searchTagItems' class='tagDiv')
              span(class='spanTag' data-bind='text: name')
              a(href='#' data-bind='click: $parent.removeSearchTag')
                img(src='/public/muidRemove.png') 
            input(id='inpAddTodoItem' type='text' name='q'  data-bind='value: addTodoItemName')
            input(type='submit', value='Add todo item' data-bind='click: addTodoItem')
            input(type='checkbox' data-bind='checked: searchShowDone, click: refresh')
            span Show done items
            input(type='checkbox' data-bind='checked: searchShowDel, click: refresh')
            span Show inactive items
        table(class='itemsBox')
          thead
            td Title
            td Group
            td Priority
            td Status
          tbody(data-bind='foreach: filteredItems' )
            tr(class='taskBox' data-bind='css: getTodoStatusColor(status, done)')
              td
                 
                a(href='#' data-bind='attr: { href: utils.getUrlForType(id, viewModelTodoList.userName(), 4) }')
                  span(data-bind='text: name, click: $parent.toggle')
              td 
                span(data-bind='text: getTodoPriorityText(priority)')                  
              td 
                span(data-bind='text: getTodoPriorityText(priority)')
              td 
                span(data-bind='text: getTodoStatusText(status)')
              td
                span(data-bind='text: utils.createIdStrForIdInt(idint, 4)')
  
              
            
 

    