doctype html
html
  head
    title mCheck
    link(rel="stylesheet", href="/public/base.css")
    link(rel="stylesheet", href="/public/todo.css")
    link(rel="stylesheet", href="/public/lib/auto-complete.css")
    link(rel="stylesheet", href="/public/lib/datepicker.css")
    link(rel="stylesheet", href="/public/lib/quill.snow.css")
    script(src='/public/lib/tko4a9.js')
    script(src="/public/lib/datepicker.js")
    script(src='/public/lib/auto-complete.js')
    script(src='/public/shared/utils.js')
    script(src='/public/base.js')
    script(src='/public/todolist.js')
    script(src="/public/lib/quill.min.js")
    script.
      (function () {
        window.onload = function ()
          {
            
            init('#{userid}');

          }
      }()); 
      
  body
    table
      td(class="tdAlignTop")
        a(href='/'+ username)
          img(src='/public/muidLogo.png')
      td(class="tdAlignTop")
        h1 Todo
      td(class="tdAlignTop tdAlignRight")
        
       
    table
      td(id='tdTodoListId' class='tdAlignTop')
        
        fieldset(id='fsSearch')
          legend Search / add items
          div(data-bind='visible: showInp' class='searchBox')
            div(data-bind='foreach: searchTagItems' class='tagDiv')
              span(class='spanTag' data-bind='text: name')
              a(href='#' data-bind='click: $parent.removeSearchTag')
                img(src='/public/muidRemove.png') 
            input(id='inpAddTodoItem' type='text' name='q'  data-bind='value: addTodoItemName')
            input(type='submit', value='Add todo item' data-bind='click: addTodoItem')
            input(type='checkbox' data-bind='checked: searchShowDone, click: refresh')
            span Show done items
            input(type='checkbox' data-bind='checked: searchShowDel, click: refresh')
            span Show inactive items
        table(class='itemsBox')
          tbody(data-bind='foreach: filteredItems' )
            tr(class='itemBox' data-bind='css: getTodoStatusColor(status, done)')
              td
                label.checkbox-inline
                  input(type='checkbox' data-bind='checked: done, click: $parent.saveTodoItem')
                span(data-bind='text: name, click: $parent.toggle')
              td 
                span(data-bind='text: getTodoPriorityText(priority)')
              td 
                span(data-bind='text: getTodoStatusText(status)')
              td
            tr(data-bind='visible: showDetails')
              td
                span(data-bind='visible: !notehtml, text: getTodoNotes($data)' class='whitespacepre')
                span(data-bind='visible: notehtml, html: getTodoNotes($data)')
            tr
              td
                div(data-bind='visible: url')
                    a(href='#' data-bind='attr: { href: checkAndFixUrl(url) }, text: shortenString(url, 80)')
            tr
              td
                div(data-bind='visible: notes' class='whitespacepre')
                    span(data-bind='visible: !showDetails, text: notesDisplay, $parent.showFullNotes), click: $parent.toggleShowFullNotes')
            tr
              td
                div(data-bind='foreach: tags' class='tagDiv')
                  a(href='#' data-bind='attr: { href: getTodoSearchUrl(name) }')
                    span(class='spanTag' data-bind='text: name')
                  span(data-bind='visible: $parent.showDetails')
                    a(href='#' data-bind='click: $parent.removeTagRelation' )
                      img(src='/public/muidRemove.png') 
                input(type='text' data-bind='value: $parent.addTagItemName, visible: showDetails')
                input(type='submit' value='Add tag' data-bind='click: addTagRelation, visible: showDetails')
            tr
              td
                input(type='button' value='Edit item' data-bind='visible: showDetails && !showEdit, click: $parent.toggleEdit') 
              td
                input(type='button' value='Disable item' data-bind='visible: showDetails && !showEdit, click: $parent.disableTodoItem') 
              td
                input(type='button' value='Archive item' data-bind='visible: showDetails && !showEdit, click: $parent.archiveTodoItem') 
              td
                input(type='button' value='Delete item' data-bind='visible: showDetails && !showEdit, click: $parent.delTodoItem')
            tr(data-bind='visible: showDetails && !showEdit')
              td(colspan=4)
                span(class='footer' data-bind='text: getCreatedModifiedStr(idusercreated, datecreated, idusermodified, datemodified)')
              
                  

            tr(data-bind='visible: showEdit' )
              td(class='boxItem')
                table
                  
                  tr
                    td
                      label='Title'
                    td
                      input(type='text' name='title' data-bind='value: name')
                  tr
                      td
                        label='Notes'
                      td
                        textarea(cols="30" rows="10" data-bind='value: notes')
                  tr
                    td
                      label='Url'
                    td
                      input(type='text' name='title' data-bind='value: url')
                    tr
                      td
                        label='Priority'
                      td
                        input(type='text' name='title' data-bind='value: priority')
                    tr
                      td
                        label='Due date'
                      td
                        input(type='text' name="foo"  data-bind='value: datedueDisplay, valueUpdate: "input", click: showDatePicker')
                    tr
                      td
                        label='Done'
                      td
                        input(type='checkbox' name='title' data-bind='checked: done')
                    
                    tr
                      td
                        input(type='button' value='Save' data-bind= 'click: $parent.saveTodoItem')
                        input(type='button' value='Cancel' data-bind= 'click: $parent.toggleEdit ')
    
      td(id='tdDueListId' class='tdAlignTop , tdAlignRight, width50')
        fieldset
          legend Paste note/content for new todo item
          div(class='standalone-container')
            div(id='bubble-container')
            input(id='inpSearch' type='button', value='Add todo item' data-bind='click: addTodoItemNote')
        fieldset
          legend Todo items due
          table
            tr
              td
                span Due today
                table(class="width100")
                  tbody(data-bind='foreach: filteredDueTodayItems')
                    tr
                      td
                        span(data-bind='text: utils.getDateStrFromMS(datedue)')  
                      td 
                        a(href='#', data-bind='click: setSearchTerm , text: name')
                        
            tr
              td
                span Past due
                table(class="width100")
                  tbody(data-bind='foreach: filteredPastDueItems')
                    tr
                      td
                        span(data-bind='text: utils.getDateStrFromMS(datedue)')  
                      td 
                        a(href='#', data-bind='click: setSearchTerm , text: name')
                        
            tr
              td
                span Due soon
                table(class="width100")
                  tbody(data-bind='foreach: filteredDueSoonItems')
                    tr
                      td
                        span(data-bind='text: utils.getDateStrFromMS(datedue)')  
                      td 
                        a(href='#', data-bind='click: setSearchTerm , text: name')
      td(id='tdTagListId' class='tdAlignTop , tdAlignRight, width30')
        fieldset  
          legend Tags
          span how how
          table(class="width100")
            tbody(data-bind='foreach: items')
              tr
                td
                
                  a(href='#' data-bind='attr: { href: getTodoSearchUrl(id) }, text: name')
                  br
                td
                  a(href='#' data-bind='click: $parent.delTagItem') del
              
            
 

    