doctype html
html
  head
    title dIdeas
    link(rel="stylesheet", href="/public/todo.css")
    //script(src='http://knockoutjs.com/downloads/knockout-3.4.0.debug.js')
    script(src='/public/tko4a9.js')
    script(src='/public/base.js')
    script(src='/public/todoedit.js')
    script.
      (function () {
        window.onload = function ()
          {
            //data from to another place in the load
            viewModelTodoItem = new createViewModelTodoItem('!{todoitem.id}', '!{todoitem.name}', '!{todoitem.url}', '!{todoitem.priority}', '!{todoitem.done}', '!{todoitem.notes}');
            viewModelTag = new createViewModelTagRelation(0, '!{todoitem.id}');
            ko.applyBindings(viewModelTodoItem, document.getElementById("myBody"));
            ko.applyBindings(viewModelTag, document.getElementById("tagBody"));
          }
      }()); 
      
  body()
    h1 dIdeas
    table
      td(id='myBody' class='tdAlignTop')
        
          table
            tr
              td
                label='Name'
              td
                input(id='idName' type='text' name='title' data-bind='value: name')
                a(href='./delItem?id='+todoitem.id) del
            tr
              td
                label='Url'
              td
                input(id='idUrl' type='text' name='title' data-bind='value: url')
            
            tr
              td
                label='Priority'
              td
                input(id='idPriority' type='text' name='title' data-bind='value: priority')
            tr
              td
                label='Done'
              td
                input(id='idDone' type='checkbox' name='title' data-bind='value: done')
            tr
              td
                label='Notes'
              td
                textarea(id='idNotes' cols="30" rows="10" data-bind='value: notes')
            tr
              td
                input(type='button' value='Save' onclick=`saveTodoItem()`)

                

            
      td(id='tagBody' class='tdAlignTop , tdAlignRight')
        
          table
            tr
              td
                input(type='text' name='title' data-bind='value: tagName')
              td
                input(type='submit', value='Add tag' onclick=`addTagRelation()`)
            tr
              table(class="width100")
                each row in itemTags
                  tr
                    td
                    
                      a(href='./todo?searchTag='+row.id)=row.name
                      br
                    td(class='tdAlignLeft')
                      a(href='#' onclick=`delTagRelation(${row.id})`) del
                  
      

          